<% content_for :page_header do %>
	<h1>Minha Conta <small><%= current_user.email %></small></h1>
	<% page_title "Bem Vindo" %>
<% end %>


  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Informações sobre Minha Conta</a></li>
    <li><a href="#tab2" data-toggle="tab">Apagar Minha Conta</a></li>
  </ul>
  
  
  
  <div class="tab-content">
  
    <div class="tab-pane active" id="tab1">

			<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
			
			  	<div class="row-fluid">
	            	<div class="span12">
	            				  
					  <h3>Autenticação <small class="text-error"><i class="icon-warning-sign"></i> Você precisa informar sua senha atual para confirmar as alterações.</small></h3>
											  
	            	</div>
			  	</div>
			  	
			  
			  	<div class="row-fluid">
	            	<div class="span4">
	            		<%= f.input :email, :required => true, :autofocus => true, :label => false, :placeholder => "Email", :input_html => {:class => "span12"} %>
	            	</div>
	            	
	            	<div class="span4">
	            		<%= f.input :password, :autocomplete => "off", :required => false, :label => false, :placeholder => "Digite sua Nova Senha", :input_html => {:class => "span12"} %>
	            	</div>
	            	
	            	<div class="span4">
	            		<%= f.input :password_confirmation, :required => false, :label => false, :placeholder => "Confirme a Nova Senha", :input_html => {:class => "span12"} %>
	            	</div>
			  	</div>            		            	  
			
			  	<hr />
			 
			  	<div class="row-fluid">
	            	<div class="span12">
	            	
					  <div class="well">
					  <h3>Deseja salvar as alterações?</h3>
					  <p>Você precisa informar sua senha atual para confirmar as alterações</p>
					  	<div class="row-fluid">
			            	<div class="span6">
				            	<%= f.input :current_password, :required => true, :label => false, :placeholder => "Digite sua Senha Atual", :input_html => {:class => "span12"} %>
			            	</div>
			            	<div class="span4">
			            		<%= f.button :submit, "Salvar Alterações", :class => "btn btn-success" %>
			            	</div>
					  	</div>
					  </div>
					              	
	            	</div>
			  	</div>			    
			  
			<% end %>

    </div>
    
    <div class="tab-pane" id="tab2">


			<h3>Cancelar Minha Conta</h3>
			
			<p>Deseja <%= link_to "cancelar sua conta?", registration_path(resource_name), :data => { :confirm => "Tem certeza que deseja cancelar sua conta?" }, :method => :delete %>.</p>


    </div>
    
  </div><!-- end: #tab-content -->

